<div class="store-select">
  <a class="current" href="/trade" target="_blank">
      <span class="visually-hidden">Trade</span>
  </a>
  <a href="/personal" target="_blank">
      <span class="visually-hidden">Personal</span>
  </a>
</div>