<!-- Full Page Width Block for Collections and Products -->
<div id="custom-collections">
  <div id="collections-list">
    <!-- Collection titles and descriptions will be injected here -->
  </div>
  <div id="products-list">
    <!-- Products for the selected collection will be injected here -->
  </div>
</div>

{% schema %}
  {
    "name": "Custom Collections",
    "settings": []
  }
{% endschema %}